<h2>Comments</h2>

<% @article.comments.each do |comment| %>
<p>
<strong>Commenter:</strong>
<%= comment.commenter %>
</p>

<p>

<%= comment.created_at.strftime('%A %-b %-d, %Y | %l:%M %p')%>


</p>

<p>
<strong>Comment:</strong>
<%= comment.body %>

<p>
<%= link_to 'Delete Comment', [comment.article, comment],
    class: 'btn btn-sm btn-danger',
    method: :Delete,
    data: {confirm: 'Are you Certain?'} %>

</p>




</p>
<% end %>
