<h2>Comments</h2>

<% @article.comments.each do |comment| %>
<p>
<strong>Commenter:</strong>
<%= comment.commenter %>
</p>

<p>

<%= comment.created_at %>


</p>

<p>
<strong>Comment:</strong>
<%= comment.body %>

<p>
<%= link_to 'Delete Comment', [comment.article, comment],
    method: :Delete,
    data: {confirm: 'Are you Certain?'}%>

</p>




</p>
<% end %>
