<div class="row" style="padding-top:1%;">
  <div class="col"></div>
  <div class="col-med-7 text-center">
    <%= image_tag 'blue.jpg', style: "width: 100%" %>
    <div class="jumbotron">




<h1>Welcome to Sketches</h1>
<p><%= link_to 'Access Articles', articles_path, class: 'btn btn-md btn-welcome' %></p>

</div><!-- jumbotron -->
</div><!-- .col-md-7 -->
<div class="col"></div>

</div><!-- .row -->
