<div class="row" style="padding-top:15%;">
  <div class="col"></div>
  <div class="col-med-7 text-center">


<h1>Welcome to Sketches</h1>
<p><%= link_to 'Articles Page', articles_path, class: 'btn btn-lg btn-primary' %></p>
</div><!-- .col-md-7 -->
<div class="col"></div>

</div><!-- .row -->
