/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap";
 @import "welcome";
 @import "navigation";
 @import "footer";


 body {
   min-height: 50rem;
   padding-top: 4.5rem;
   background: #d9eaf2;
   overflow-x: hidden;
 }


 .white
 {
   color: #ffffff;
 }

 .grey
 {
   color: #ddcccc;
 }

 .white
 {
   font-size: 11px;
 }


 .linktxt
 {
   color: #ddeeee;
 }

 .linktxt:hover
 {
   color: #ffffff;
 }


 .container
 {padding-top:15px;}


 thead
 {
   background-color: #30d8f0;
   color: #111111;
 }


.form-control
{
  background-color: #efeeef;
  border: 3px solid #1b325f;
}

.btn-light
{
  background-color: #d9eaf2;
  border: 3px solid #1b325f;
}

.jumbotron
{
  background-color: #ffffff;
}
